.gcode-viewer {
    background: #0B71B3;
    border: 1px solid black;
    min-width: 800px;
    min-height: 400px;

    svg {
        width: 100%;
        height: 100%;

        line {
            vector-effect: non-scaling-stroke;
            stroke: #ff0000;

            &.gcode-g0 {
                stroke: #81b590;
            }
        }

        g.__viewport {
            transform: translate(0px, 100%) scale(3, -3) translate(5px, 5px);
        }
    }
}