.gcode-sender {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    height: 100%;

    grid-template-areas: 
            "toolbar toolbar"
            "gcode preview"
            "controls preview"
            "jogpad preview"
            "logs logs";

    .__toolbar {
        grid-area: toolbar;
    }

    .__logs {
        grid-area: logs;
        margin: -0.5rem;
        margin-top: auto;
        align-self: stretch;
        display: flex;
        flex-direction: column-reverse;
        background: rgb(214, 214, 214);
        min-height: 16rem;
        padding: 0.5rem;
        max-height: 50vh;
        overflow: auto;
    }

    .__gcode {
        grid-area: gcode;
        width: 100%;
        min-height: 10rem;
    }

    .__jog-pad {
        grid-area: jogpad;
    }

    .__gcode-preview {
        grid-area: preview;
    }
}

@media only screen and (max-width: 600px) {
    .gcode-sender {
        grid-template-areas: 
            "toolbar"
            "gcode"
            "preview"
            "controls"
            "jogpad"
            "logs";
    }
}
